<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reviews</title>
  <%= stylesheet_link_tag :bootstrap %>
  <%= stylesheet_link_tag :mybook %>
  <%= javascript_include_tag "star" %>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" >Share your view.</p>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/show">HOME</a></li>
        <li><a href="/books/index">BOOKS</a></li>
        <li></li>
        <li>
          <div>
           <h4>
            <% if current_user %>
              <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
              <%= link_to "Google Sign In", "/auth/google_oauth2", id: "sign_in" %>
            <% end %>
           </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-12 main">
    <h1 class="page-header"><%= @books1.title%></h1>
    <h4>Written by&nbsp;<%= @books1.author_name %></h4>
        <% @bookgenres.each do |genre| %>
            <%= genre.genre_name %></h6>
        <% end %>
    <hr/>
        <h1>Reviews</h1>
        <% @reviews.each do |review| %>
            <%= review.review_msg %><br/>
        <% end %>
        <% if current_user%>
          <h3>Your Review</h3>
          <%= form_for :review, url: "/books/review" do |f| %>
              <%= hidden_field_tag(:book_id, @books1.id) %>
              <%= hidden_field_tag(:user_id, current_user.id) %>
              <p>
                <%= f.text_area :review_msg, :placeholder => "Write Review" , cols:"75", rows: "10" %>
              </p>
              <p>
                <%= f.submit 'Submit' %>
              </p>
          <% end %>
          <hr/>
        <%end%>
        <h1>Rating</h1>
        <% @ratings.each do |rating| %>
            <%= rating.rate %></br>
        <% end %>
 </div>
</div>
</body>
</html>

