<!DOCTYPE html>
<html>
<head>
  <title>Goodreads.com</title>
  <meta charset="windows-1252">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag :bootstrap %>
  <%= stylesheet_link_tag :authors %>
  <%= stylesheet_link_tag :generic %>
  <%= stylesheet_link_tag "js-image-slide" %>
  <%= javascript_include_tag "js-image-slider" %>
  <%= javascript_include_tag "signup" %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand" >Fresh Reads</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/show">HOME<span class="sr-only">(current)</span></a></li>
          <li><a href="/books/index">BOOKS</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="header">
    <h1>Find your next favourite book.</h1>
    <h4>BOOKS + LOVE + READ = FRESHREADS</h4>
    <div>
      <h4>
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>

        <% end %>
      </h4>
    </div>
  </div>
  <div id="sliderFrame">
    <div id="slider">
      <a href="about" target="_blank">
        <%= image_tag("image-slider-1.jpg", :alt => "Welcome to Bookish.com") %>
      </a>
      <%= image_tag("image-slider-2.jpg", :alt => "The largest Digital library") %>
      <%= image_tag("image-slider-3.jpg", :alt => "Books for all ages") %>
      <%= image_tag("image-slider-4.jpg", :alt => "Wide-Ranging Selection") %>
      <%= image_tag("image-slider-5.jpg", :alt => "Read Anytime. Anywhere") %>
    </div>
  </div>
  <div id="part1">
    <div id="section" class="thumbnail">
      <a href="/show">
        <%= image_tag("buddingauthor.jpg", :alt => "Budding Author") %>
      </a>
      <div class="caption">
        <h4>Know any cool books? Share them here!</h4>
      </div>
    </div>
    <div id="section" class="thumbnail">
      <a href="/books/index">
        <%= image_tag("review.jpg", :alt => "Review") %>
      </a>
      <div class="caption">
        <h4>Read a Book? Review here</h4>
      </div>
    </div>
  </div>
  <div class="footer" id="footer">
    <p>Copyright &copy; www.freshreads.com</p>
  </div>
  <h3><%= @msg %></h3>
  </body>
</html>