<<table>
  <tr>
    <th>User ID</th>
    <td><%= %></td>
    <th>Book ID</th>
    <td><%= %></td>
    <th>Review Message</th>
    <td><%= %></td>
  </tr>
  <% @review.each do |review| %>
      <tr>
        <td><%= review.user_id%></td>
        <td><%= %></td>
        <td><%= review.book_id %></td>
        <td><%= %></td>
        <td><%= review.review_msg %></td>
        <td><%= %></td>
      </tr>
  <% end %>
</table>
