<<table>
  <tr>
    <th>Publisher Name</th>
    <td><%= %></td>
    <th>Publisher Address</th>
    <td><%= %></td>
  </tr>
  <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.pub_name%></td>
        <td><%= %></td>
        <td><%= publisher.pub_address %></td>
        <td><%= %></td>
      </tr>
  <% end %>
</table>
